:root {
  /* --main-bg-color: #fff9c1; */
  --main-bg-color: #ccdad1;
  /* --main-bg-color: white; */
  --duck-box-color: #f9dc70;
  --nav-bar-color: #0d1321;
  --detail-color: #e4572e;
}

body {
  font-family: 'Avenir';
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
  color: var(--nav-bar-color);
}

h2 {
  /* justify-content:center; */
  text-align: center;
}

#components {
  position: relative;
  top: 10rem;
}

#header {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: var(--main-bg-color);
  /* position: fixed; */
  /* border: 2px solid red; */
}

.logo {
  /* border: 1px solid green; */
  height: 3.5rem;
  position: relative;
  left: 0rem;
  top: 1.5rem;
}

.title {
  display: flex;
  /* border: 1px solid yellow; */
  align-self: baseline;
  margin-bottom: 10px;
  font-size: 4.1rem;
  font-weight: bold;
  position: relative;
  top: -3.1rem;
}

#navPanel {
  text-align: center;
  /* border: 2px solid yellow; */
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  height: 50px;
  background-color: var(--nav-bar-color);
}
.nav a {
  color: #fff;
  height: 100%;
  margin: 10px;
  padding: 14px;
  /* transition: 0.3s background-color; */
  /* width: 50px */
}
.nav nav {
  height: 10px;
}

.nav a:hover {
  background-color: var(--main-bg-color);
  border-bottom: 4px solid var(--nav-bar-color);
  padding: 14px;
  /* color: var(--nav-bar-color); */
  color: var(--detail-color);
  width: 50px;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

#nav-container {
  /* border: 1px solid yellow; */
  position: fixed;
  top: 0rem;
  z-index: 9999;
  width: 100%;
}

.space {
  height: 10px;
}

#adminComponentsContainer {
  display: flex;
}

.adminComponent {
  /* display: flex; */
  margin: 10px;
  /* margin- */
  border: solid;
  border-color: black;
  padding: 10px;
}
/* @media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #0d1321;
  }

  /* Option 1 - Display Inline */
/* .nav li {
    display: inline-block;
    margin-right: -4px;
  } */

/* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }

} */
/* all products page below */
#all-products {
  display: flex;
  flex-direction: column;
}

.productBox {
  /* border: 2px solid black; */
  display: flex;
  width: 80%;
  align-self: center;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

/* img {
  width: 100%;
} */
.product-img {
  width: 100%;
}

#product-container {
  /* border: 1px solid blue; */
  width: 26%;
}

.product {
  /* border: 2px solid yellow; */
  text-align: center;
  margin: 30px;
}

.preview-name {
  /* font-family: 'Mitr', sans-serif; */
  font-family: 'Hammersmith One', sans-serif;
  font-size: large;
  color: var(--detail-color);
  border-top: 3px solid var(--nav-bar-color);
  /* border: 1px solid green; */
  padding: 10px;
}

#product-preview {
  padding: 5px;
  padding-bottom: 0px;
  background-color: var(--duck-box-color);
  transition-duration: 0.2s;
}

#product-preview:hover {
  transition-duration: 0.2s;
  box-shadow: 0px 5px 22px var(--nav-bar-color);
}

/* single product page below */
#single-container {
  display: flex;
  flex-direction: column;
}

#single {
  display: flex;
  border: 3px solid var(--duck-box-color);
  padding: 5px;
  box-shadow: 0px 5px 22px var(--nav-bar-color);
  /* box-shadow: 8px 8px 10px #0D1321; */
  background-color: var(--duck-box-color);
  flex-direction: row;
  width: 50%;
  align-self: center;
}

#single-info {
  padding: 40px;
  flex-grow: 2;
}

.price {
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--detail-color);
}

#add-to-cart {
  border: 1px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  outline: none;
  width: 100%;
  height: 40px;
  margin-top: 40px;
  background-color: #ccdad1;
  font-style: italic;
  font-size: medium;
}
#add-to-cart:active {
  border: 1px solid black;
  border-left: 3px solid black;
  border-top: 3px solid black;
  background-color: rgb(181, 189, 184);
}

.singleImg {
  height: 300px;
  width: auto;
  border-right: 3px solid var(--duck-box-color);
}
.single-name {
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
  color: var(--detail-color);
}

#cart-page {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
}

#cart-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row-reverse;
  align-self: center;
  width: 90%;
}

#checkout {
  /* border: 1px solid green; */
  width: 40%;
  /* height: 15rem; */
  padding: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px;
  padding: 10px;
  /* border: 1px solid red; */
}

input {
  width: 100%;
}

.total {
  font-weight: bold;
}
.total-price {
  color: var(--detail-color);
}
.checkout-btn {
  /* background-color: var(--detail-color); */
  background-color: var(--main-bg-color);
  border: 1px solid var(--detail-color);
  font-size: 1.5rem;
  height: 4rem;
  transition: ease-in-out 0.2s;
  outline: none;
}
.checkout-btn:active {
  background-color: #e4582e9a;
}

.checkout-btn:hover {
  transition: ease-in-out 0.2s;
  background-color: var(--detail-color);
  box-shadow: 0px 3px 28px rgb(243, 223, 112);
}

/* #cart-item-list {
  border: 1px solid orange;
} */

#item-container {
  border-bottom: 1px dotted var(--nav-bar-color);
  margin: 15px;
  padding: 15px;
}

#cart-item {
  /* border: 1px solid black; */
  display: flex;
  height: 10rem;
  width: 70%;
  /* margin: 10px; */
  padding: 15px;
}

.cart-pic {
  width: 30%;
  height: auto;
  box-shadow: 0px 5px 22px var(--nav-bar-color);
}

.cart-item-name {
  border-bottom: 1px solid orange;
  padding: 5px;
}
.indiv-price {
  /* border: 1px solid hotpink; */
  font-style: italic;
  margin: 0;
}

#cartinfo-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  /* border: 1px solid green; */
  padding: 5px;
  margin: 10px;
}

.edit-button {
  /* border: 1px solid purple; */
  margin: 6px;
  outline: none;
  background-color: var(--duck-box-color);
  color: var(--nav-bar-color);
  position: relative;
  top: 0.4rem;
  border: 1px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.edit-button:active {
  background-color: #d1b44d;
  border: 1px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

#cart-qty {
  /* border: 1px solid yellow; */
  display: flex;
  padding: 4px;
  height: 2.5rem;
}

label {
  display: block;
}

form div {
  margin: 1em;
  width: 300px;
}

.email-div {
  border: 1px solid black;
  border-left: 3px solid black;
  border-top: 3px solid black;
  background-color: rgb(181, 189, 184);
  display: block;
  width: 300px;
  font-weight: bold;
}

.password-div {
  border: 1px solid black;
  border-left: 3px solid black;
  border-top: 3px solid black;
  background-color: rgb(181, 189, 184);
  display: block;
  font-weight: bold;
}

.login {
  width: 80px;
  font-weight: bold;
  font-size: small;
  margin-left: 110px;
}

/*google{*/
/*  color:red;*/
/*   padding-left:300px;*/
/* }*/

.auth-form {
  display: block;
  height: 300px;
  width: 300px;
  padding-left: 300px;
  font-weight: bold;
  padding-right: 300px;
  padding-top: 95px;
  /*background-color: lightgoldenrodyellow ;*/
  margin-left: 200px;
  border: 10px solid gray;
  border-radius: 10px;
  background: linear-gradient(to bottom, rgb(255, 238, 204), rgb(255, 195, 77));
}

.email-input {
  display: block;
  width: 293px;
  font-weight: bold;
}

.password-input {
  display: block;
  width: 293px;
  font-weight: bold;
}

#goog {
  margin-left: 95px;
  border: 1px solid gray;
  border-left: 3px solid gray;
  border-top: 3px solid gray;
  /*background-color: rgb(181, 189, 184);*/
  /*display: block;*/
  font-weight: bold;
  background-color: mintcream;
}
